<%= render 'shared/navbar' %>

<div class="home-container">
  <div class="home-header">
    <h1>Puntos de donación</h1>

    <div class="search-container">
      <div class="search-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-search search-icon" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>

        <input type="text" placeholder="Buscar punto de donación"
               class="search-input" id="search-ubicacion">
      </div>
    </div>
  </div>

  <div class="locations-grid">
    <% @ubicaciones.where(activo: true).each do |u| %>
      <div class="location-card">

        <div class="location-image-wrapper">
          <%= image_tag(u.imagen.present? ? u.imagen : "placeholder.jpg",
                        class: "location-image") %>
          <%= link_to "Ver detalles", "#", class: "details-btn small-text" %>
        </div>

        <div class="card-body">
          <h3><%= u.nombre %></h3>

          <% if current_user&.donante %>
            <%= link_to new_postulacion_path(ubicacion_id: u.id),
                        class: "donar-btn btn-primary btn-small-text" do %>
              <span class="donar-content">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     fill="currentColor" class="bi bi-droplet-fill"
                     viewBox="0 0 16 16">
                  <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6M6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13"/>
                </svg>
                <span>Donar</span>
              </span>
            <% end %>
          <% end %>

          <% unless current_user&.donante %>
            <p class="alert-msg">⚠️ Debes registrarte como donante.</p>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>