<%= form_with(model: @solicitud, local: true) do |form| %>
  <% if @solicitud.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitud.errors.count, "error") %> prohibited this solicitud from being saved:</h2>
      <ul>
        <% @solicitud.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- NOMBRE PACIENTE -->
  <div class="input-group">
    <%= form.label :nombre_paciente, "Nombre del paciente", class: "input-label" %>
    <div class="input-icon-container">
      <%= form.text_field :nombre_paciente,
        required: true,
        pattern: "[A-Za-zÁÉÍÓÚáéíóúñÑ ]+",
        class: "input-field",
        placeholder: "Juan Pérez" %>
    </div>
  </div>

  <!-- CÉDULA -->
  <div class="input-group">
    <%= form.label :cin_paciente, "Cédula de Identidad del Paciente", class: "input-label" %>
    <div class="input-icon-container">
      <%= form.text_field :cin_paciente,
        required: true,
        pattern: "[0-9]{7,8}",
        title: "Debe tener 7 u 8 dígitos numéricos",
        class: "input-field",
        placeholder: "Ingrese la cédula del paciente" %>
    </div>
  </div>

  <!-- TIPO DE SANGRE -->
  <div class="input-group">
    <%= form.label :tipo_sangre, "Tipo de sangre del paciente", class: "input-label" %>
    <div class="input-icon-container">
      <%= form.select :tipo_sangre,
        options_for_select(["A+", "A-", "B+", "B-", "O+", "O-", "AB+", "AB-"], @solicitud.tipo_sangre),
        { include_blank: "Seleccione tipo de sangre" },
        required: true,
        class: "input-field input-field--dropdown" %>
    </div>
  </div>

  <!-- UBICACIÓN -->
  <div class="input-group">
    <%= form.label :location_id, "Ubicación", class: "input-label" %>
    <div class="input-icon-container">
      <%= form.collection_select :location_id,
        Ubicacion.all, :id, :nombre,
        { prompt: "Seleccione una ubicación" },
        { required: true, class: "input-field input-field--dropdown" } %>
    </div>
  </div>

  <!-- DONANTES REQUERIDOS -->
  <div class="input-group">
    <%= form.label :donantes_requeridos, "Donantes requeridos", class: "input-label" %>
    <div class="input-icon-container">
      <%= form.number_field :donantes_requeridos,
        min: 1,
        max: 20,
        step: 1,
        placeholder: "Ingrese el número de donantes requeridos",
        required: true,
        class: "input-field",
        oninput: "if(this.value>20)this.value=20;" %>
    </div>
  </div>

  <!-- DETALLES -->
  <div class="input-group">
    <%= form.label :detalles, "Detalles adicionales", class: "input-label" %>
    <div class="input-icon-container">
      <%= form.text_area :detalles,
        placeholder: "Ingrese detalles adicionales de la solicitud",
        maxlength: 140,
        class: "input-field" %>
    </div>
  </div>

  <!-- BOTONES -->
  <div class="actions" style="margin-top: 15px;">
    <%= form.submit "Crear solicitud", class: "btn btn-primary" %>
  </div>
<% end %>