<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Softwaredonarsangre" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="flash-message" 
        class="flash-popup <%= flash[:alert] ? 'alert' : (flash[:notice] ? 'notice' : '') %>" 
        style="<%= flash.any? ? '' : 'display: none;' %>">
      <%= flash[:alert] || flash[:notice] %>
    </div>

    <%= yield %>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const flash = document.getElementById("flash-message");
        if (flash && flash.textContent.trim() !== '') {
          setTimeout(() => {
            flash.classList.add("hide");
          }, 6000);
        }
      });
    </script>
  </body>
</html>